
@charset 'utf-8';

/*
	This file is a CSS stylesheet for this project.
 */

/* hidden information, javascript use - this is supposed to be always hidden */
#survey-labels {
	display: none !important;
}

#place-view {
	background: url(./../i/map.png) 0 0 no-repeat;
	width: 100%;
	height: 100%;
}

/* styles of general use */
.hidden {
	display: none !important;
}

div.visible {
	display: block;
}

.visible {
	display: inline;
}
