
@charset 'utf-8';

/*
	This file is a CSS stylesheet for this project.
 */

/* general body styles and like that */
body {
	background-color: silver;
}

/* hidden information, javascript use - this is supposed to be always hidden */
#survey-labels {
	display: none !important;
}

#map {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#label {
	margin: auto;
	width: 100%;
	height: 100%;
}

#place-view {
	background: url(./../i/map.png) 0 0 no-repeat;
	width: 100%;
	height: 100%;
	margin: 4.5em auto;
	zoom: 1;
}

#place-view.point-view {
	transition: all 2s;
}

#place-view:not(.point-view) {
	transition: all 2s;
}

/* styles of general use */
.hidden {
	display: none !important;
}

div.visible {
	display: block;
}

.visible {
	display: inline;
}

